<div class="container">
  <h3>Payment Form</h3>
  <div class="row">
    <div class="form-group col mt-2">
      <label for="">Payee Name:</label>
      <input
        #payeeName
        class="form-control mt-3"
        (input)="onNameChange(payeeName.value)"
      />
    </div>
    <div class="col mt-2">
      <label></label>
      <input
        class="form-control mt-3"
        type="text"
        placeholder="{{ name | titlecase }}"
        disabled
        readonly
      />
    </div>
  </div>
  <div class="row">
    <div class="form-group col mt-2">
      <label for="">Payment Date:</label>
      <input
        #date
        type="date"
        class="form-control mt-3"
        (input)="onDateChange(date.value)"
      />
    </div>

    <div class="col mt-2">
      <label></label>
      <input
        class="form-control mt-3"
        type="text"
        placeholder="{{ paymentDate | date: 'medium' }}"
        disabled
        readonly
      />
    </div>
  </div>
  <div class="row">
    <div class="form-group col mt-2">
      <label for="">Payment Amount:</label>
      <input
        #amount
        type="number"
        class="form-control mt-3"
        (input)="onAmountChange(+amount.value)"
      />
    </div>

    <div class="col mt-2">
      <label></label>
      <input
        class="form-control mt-3"
        type="text"
        placeholder="{{ paymentAmount | currency: 'KRW' }}"
        disabled
        readonly
      />
    </div>
  </div>
  <div class="row">
    <div class="form-group col mt-3">
      <label for="">Miles:</label>
      <input
        #miles
        type="number"
        class="form-control mt-2"
        (input)="onMilesChange(+miles.value)"
      />
    </div>

    <div class="col mt-3">
      <label>Kilometers:</label>
      <input
        class="form-control mt-2"
        type="text"
        placeholder="{{ +miles.value | convert }}"
        disabled
        readonly
      />
    </div>
  </div>
</div>
